In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Upernavik,GL,2022-09-21 17:12:49,72.7868,-56.1549,34.02,70,81,8.14
1,1,Avarua,CK,2022-09-21 17:12:50,-21.2078,-159.7750,73.45,78,75,11.50
2,2,Abrau-Dyurso,RU,2022-09-21 17:12:50,44.6900,37.5900,53.06,63,95,10.40
3,3,Port Hardy,CA,2022-09-21 17:12:51,50.6996,-127.4199,53.78,76,20,2.30
4,4,Kaitangata,NZ,2022-09-21 17:09:41,-46.2817,169.8464,40.84,94,22,3.62

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [10]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [14]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
18,18,Boa Vista,BR,2022-09-21 17:12:57,2.8197,-60.6733,87.78,55,20,5.75
21,21,Vila Velha,BR,2022-09-21 17:12:42,-20.3297,-40.2925,84.15,76,20,13.80
25,25,Jamestown,US,2022-09-21 17:12:59,42.0970,-79.2353,78.51,54,0,10.36
27,27,Santa Cruz,BO,2022-09-21 17:13:00,-17.8000,-63.1667,83.66,58,40,2.30
28,28,Vaini,TO,2022-09-21 17:13:00,-21.2000,-175.2000,75.36,83,75,10.36
30,30,Payson,US,2022-09-21 17:13:01,40.0444,-111.7321,78.28,45,0,9.22
32,32,Tirat Karmel,IL,2022-09-21 17:13:02,32.7617,34.9719,80.15,58,40,6.91
34,34,Praya,CV,2022-09-21 17:13:04,14.9215,-23.5087,84.74,61,20,17.27
40,40,Kieta,PG,2022-09-21 17:13:07,-6.2167,155.6333,75.83,83,100,1.86
42,42,Cabo San Lucas,MX,2022-09-21 17:08:36,22.8909,-109.9124,87.62,78,20,10.36

In [16]:
preferred_cities_df.count()

City_ID       737
City          737
Country       737
Date          737
Lat           737
Lng           737
Max Temp      737
Humidity      737
Cloudiness    737
Wind Speed    737
dtype: int64

In [17]:
preferred_cities_df.counts()

AttributeError: 'DataFrame' object has no attribute 'counts'

In [18]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [19]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
18       Boa Vista      BR     87.78   2.8197  -60.6733
21      Vila Velha      BR     84.15 -20.3297  -40.2925
25       Jamestown      US     78.51  42.0970  -79.2353
27      Santa Cruz      BO     83.66 -17.8000  -63.1667
28           Vaini      TO     75.36 -21.2000 -175.2000
30          Payson      US     78.28  40.0444 -111.7321
32    Tirat Karmel      IL     80.15  32.7617   34.9719
34           Praya      CV     84.74  14.9215  -23.5087
40           Kieta      PG     75.83  -6.2167  155.6333
42  Cabo San Lucas      MX     87.62  22.8909 -109.9124

In [20]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [23]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [24]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
18,Boa Vista,BR,87.78,2.8197,-60.6733,Aipana Plaza Hotel
21,Vila Velha,BR,84.15,-20.3297,-40.2925,Hotel Vitória Palace
25,Jamestown,US,78.51,42.0970,-79.2353,Hampton Inn & Suites Jamestown
27,Santa Cruz,BO,83.66,-17.8000,-63.1667,Aviador Hotel Boutique
28,Vaini,TO,75.36,-21.2000,-175.2000,Keleti Beach Resort

In [26]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [28]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))